.content {
    display: flex;
    justify-content: flex-start;
    min-height: 90vh;
}

.sidebar {
    flex: 0 0 20%;
    background-color: orangered;
}

.cards__container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
   align-content: flex-start; 
}